.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.singlebar {
    display: inline-block;
    width: 50px;
    height: 75px;
    margin-right: 2px;
    background-color: teal;
}
.bar {
    display: inline-block;
    width: 10px;
    height: 75px;
    margin-right: 2px;
    background-color: teal;
}
.line,.line path{
    fill: none;
    stroke: red;
    shape-rendering: crispEdges;
    stroke-width: 2px;
}
circle {
    fill: steelblue;
}