.bar {
	display: inline-block;
	width: 10px;
	height: 75px;	/* Gets overriden by D3-assigned height below */
	margin-right: 2px;
	background-color: teal;
}
/*******************/
/*** Radial Tree ***/
/*******************/
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.node {
  font: 10px sans-serif;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}

/*******************/
/* Partition chart */
/*******************/
#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}
.main text {
    font: 10px sans-serif;  
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}